# PT backup directory
.pt/

# Added entries (1 items)
*.exe

# Added entries (1 items)
plugins/

# Added entries (1 items)
*sublime*

# Added entries (1 items)
git-remote-color.cache.json

# Added entries (1 items)
giti.json

# Added entries (1 items)
gitignore_backup/

# Added entries (1 items)
git-remote-color.json
